/*初始化*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    font-size: 14px;
    vertical-align: baseline;
}
 
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
 
body {
    line-height: 1;
}
 
ol, ul {
    list-style: none;
}
 
blockquote, q {
    quotes: none;
}
 
blockquote:before, blockquote:after,q:before, q:after {
    content: '';
    content: none;
}
 
table {
    border-collapse: collapse;
    border-spacing: 0;
}
html {
    font-size: 62.5%;
    color: #222;
}
 
::selection {
    background-color: #b3d4fc;
    text-shadow: none;
}
 
ul {
    margin: 0;
    padding: 0;
}
 
li {
    list-style: none;
}
.clearfix:before,.clearfix:after {
    content: " ";
    display: table;
}
 
.clearfix:after {
    clear: both;
}
/*轮播图*/
/*轮播盒子大小*/
#Carousel{
	width: 100%;
	height: 1334px;     
	margin: 0 auto;
}
/*轮播图大小*/
.swiper-container {
	width: 100%;
    height: 1334px;
}  
.swiper-slide >img{
	width: 100%;
    height: 1334px;
}
	/*分页器的样式*/
.swiper-pagination>span{
	width: 16px;
	height: 16px;
	margin: 0 15px;
}	
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
	margin: 0 15px;
}
/*切换按钮的样式*/
#Change {
	width:50px;
	height:50px;
	background:skyblue;    
	position: absolute;
    top: 5%;
	z-index:2;
    margin-left: 640px;
    cursor: pointer;
}
/*首页*/
#index_Top{
	background-color: #199ED8;
	width: 100%;
	height: 100px;
}
/*搜索输入框*/
#index_Top > div > input{
	height: 60px;
	width: 650px;
	font-size: 40px;
	vertical-align: middle;
	background: #D7D7D7;
	padding-left: 50px;
}

#index_search{
    text-align: center;
    line-height: 100px;
    position: relative;
    margin: 0 auto;
    width: 710px;
}
#index_img_1{
	position: absolute;
    margin-left: 20px;
	top: 30px;
	background-image: url("../Img/secrh_line.png"); /*引入图片图片*/
	background-repeat: no-repeat; /*设置图片不重复*/
	background-position: 0px 0px; /*图片显示的位置*/
	width: 37px; /*设置图片显示的宽*/
	height: 37px; /*图片显示的高*/
}
#index_Banner{
	width: 100%;
	height: 300px;
	background: #D7D7D7;
	display: flex;
	align-items:center;/*垂直居中*/
	justify-content:center;/*水平居中*/
}
#index_Banner_Img_One >img{
	background-image: url("../Img/Banner.jpg");
	width: 270px;
	height: 205px;
}
#index_Recommed .items{
	width: 180px;
	height: 180px;
	background: red;
	display: inline-block;
	margin-bottom: 30px;
	margin-right: 30px;
	overflow: hidden;
}
#index_Recommed .items:nth-child(1),#index_Recommed .items:nth-child(5){
    margin-left: 75px;
}
#index_Recommed .Image{
	width: 80px;
	height: 80px;
	background: green;
	top: 50%;
    margin: 0 auto;
    position: relative;
    transform: translateY(-67%);
}
#index_Recommed .Text{
    height: 46px;
    font-size: 25px;
    overflow: hidden;
    /*text-overflow: ellipsis; */
    background: greenyellow;
    transform: translateY(92%);
    text-indent: 15px;
}
#index_ad{
	border: 2px solid red;
	margin: 20px 0 10px 0;
	width: 100%;
	height: 300px;
/*	    display: flex;
    align-items: center;
    justify-content: center;*/
}
#index_ad .Image{
	display: block;
	margin:0 auto;
	border-radius: 70px
}
#index_Buying{
	border: 4px solid green;
	width: 100%;
    height: 1353px;
}
#index_Buying .Tittle{
	border: 1px solid black;
	width: 100%;
	height: 130px;
	display: flex;
    align-items: center;
}
#index_Buying .Text{
	font-size: 60px;
}
#index_Buying .items{
	border: 3px solid red;
	height: 300px;
	width: 100%;
	display: flex;
	align-items: center;
}
#index_Buying .left{
	margin-left: 50px;
	margin-right: 50px;	
	height: 250px;
	width: 250px;
	background-color: #D7D7D7;	
	display: flex;
	justify-content:center;
    align-items: center;
}
#index_Buying .Image{
	width: 200px;
	height: 200px;
}
#index_Buying .right{
    width: 560px;
    height: 242px;
    padding-top: 27px;
    border-bottom: 2px solid;
}
#index_Buying .bottom{
	width: 560px;
    height: 200px;
    display: flex;
}
#index_Buying .Introduction{
	font-size: 40px;
}
#index_Buying .Price{
	font-size: 50px;
    color: red;
    padding-top: 80px;
}
#index_Buying .saled{
	 padding-top: 94px;
    font-size: 30px;
    color: #D7D7D7;
}
#index_Buying .Button{
    width: 100px;
    height: 48px;
    background-color: red;
    border-radius: 5px;
    transform: translateY(172%);
    text-align: center;
    font-size: 30px;
    /* float: right; */
    margin-left: 128px;
    line-height: 48px;
    cursor: pointer;
}
/*推荐*/
#index_ForYouRecommed{
	width: 100%;
	height:800px;
}
 .Tittle{
	border: 1px solid black;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.Tittle_Text{
	font-size: 60px;
    font-weight: bold;
}
#index_ForYouRecommed .items{
	display: inline-block;
	width: 400px;
	height: 650px;
	background-color: pink;
	margin-right: 30px;
	overflow: hidden;
	border-radius: 47px;
}
#index_ForYouRecommed .All_items{
	white-space: nowrap;
    overflow-x: scroll;
}
#index_ForYouRecommed .Text{
    display: block;
    font-size: 42px;
    transform: translateY(20%);
    white-space: initial;
    text-indent: 64px;
}

/*进店必购*/

#index_Must_buy{
	border: 1px solid red;
	height: 700px;
	width: 100%;
}
#index_Must_buy .left{
	display: inline-block;
	border: 2px solid green;
	width: 400px;
	height: 500px;
	margin-left: 50px;
	background-color: #D7D7D7;
}
#index_Must_buy .fk{
    display: block;
    margin: 20px 0 0 30px;
    border-radius: 10px;
    width: 150px;
    height: 50px;
    background-color: red;
}
#index_Must_buy .Image{
	display: block;
    width: 300px;
    height: 240px;
    margin: 40px 0 0 30px;
}
#index_Must_buy .right{
	display: inline-block;	
	border: 2px solid yellow;
	width: 450px;
	height: 500px;
	margin-left: 40px;
	background-color: #D7D7D7;
}
#index_Must_buy .Up{
	display: table-caption;
	border: 2px solid black;
	width: 450px;
	height: 235px;	
	margin-bottom: 30px;
}
#index_Must_buy .Down{
	display: table-caption;	
	border: 2px solid black;
	width: 450px;
	height: 235px;		
}
#index_fruit{
	border: 1px solid red;
	height: 800px;
	width: 100%;
}
/*新鲜水果*/
#index_fruit .items{
	margin-top: 50px;
	border: 1px solid red;
	height: 800px;
	width: 100%;
}
#index_fruit .shop{
	border: 1px solid red;
	height: 600px;
	width: 400px;
	display: inline-block;
}
#index_fruit .Text{
    font-size: 45px;
    text-indent: 40px;
    display: inline-block;
    text-align: center; 
}
#index_fruit .Price{
	font-size: 35px;
    color: red;
    text-align: center; 	
}
#Menu{
    position: fixed;
    border: 1px solid red;
    height: 200px;
    z-index: 100;
    width: 100%;
    background-color: #F5F6F7;
    top: 1557px;
    opacity: 0.8;
}
#Menu .Test{
	display: inline-block;
	margin-right: 60px;
}
#Menu .Text{
	font-size: 40px;
	text-align: center;
}